# macOS
.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# test notebook
notebooks/test.ipynb

# simulation results
out/

app/src/main/java/sirsim/network/files/*

.vscode/